# dependencies
node_modules/

# build
dist/
build/
.next/
out/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

# cache
.cache/
.turbo/
.parcel-cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# coverage
coverage/

# TypeScript
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal

# uploads
uploads/
temp/
tmp/

# Render
.render/

# Storybook
storybook-static/

# ESLint
.eslintcache

# npm
package-lock.json

# yarn
yarn.lock

# pnpm
pnpm-lock.yaml